body {
    margin: 0;
    font-family: sans-serif;
}

main {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#map {
    height: 100%;
}

header {
    top: 10px;
    left: 10px;
}

header a {
    color: rgb(88, 5, 208);
}

#legend, #popup, header {
    position: fixed;
    z-index: 10;
    background-color: rgb(197, 159, 252);
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(88, 5, 208);
    color: rgb(88, 5, 208);
}

h4 {
    margin: 0;
}

.color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 1px rgb(88, 5, 208);
}

#legend {
    bottom: 30px;
    right: 10px;
}

#popup {
    display: none;
    top: 10px;
    right: 10px;
}
